[Desktop Entry]
Type=Application
Name=HI-pfs Launcher
Exec=python3 /home/pi/HI-pfs/scripts/gui_launcher.py
Icon=utilities-terminal
Terminal=false
Categories=Utility;
